@media (min-width: 1024px) {
    .menu__title {
        display: block;
    }
}

@media (min-width: 780px) {
    .nav__inner {
        flex-wrap: nowrap;
    }

    .search__bar {
        order: 1;
        max-width: 32rem;
        width: 100%;
        margin: 0 10px;
    }
}

@media (max-width: 767px) { 
    .product__wrapper {
        max-width: 15rem;
    }
}

@media (min-width: 748px) { 
    .cart__section {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr)); 
    }
    
    .cart__productBx {
        width: auto;
    }

    .checkout__form {
        width: auto;
    }

    .bill__priceBx {
        width: auto; 
    } 

    .cart__product {
        flex-direction: row;
        height: fit-content;
        /* width: 100%; */
    }

}


@media (min-width: 1024px) { 
    .cart__section {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr)); 
    }
}

@media (min-width: 1024px) {
    .login__img {
        width: 50%;
    }
    
    .login__img img {
        width: 60%;
        height: auto;
    }
}
