@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    /* background-color: #F5F6FD; */
    background-color: #FCFBFC;
}

header {
    position: sticky;
    top: 0;
}

header nav {
    position: relative;
    background: #fff;
    /* background-color: red; */
    border: 2px solid #F4F2F5;
}

.nav__inner {
    max-width: 1280px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: .5rem;
}

.brand__logo {
    display: flex;
    align-items: center;
}

.brand__logo img {
    height: 2.5rem;
    margin-right: 0.75rem;
}

.profile__menu {
    display: flex;
    align-items: center;
    order: 2;
    user-select: none;
    position: relative;
}

.cart {
    display: flex;
    align-items: center;
}

.cart svg {
    width: 1.2rem;
    height: 1.2rem;
    color: #D1D5DB;
    margin-right: 1rem;
    transition: all .3s ease;
}

.cart svg:hover {
    color: #1F2937;
}

.seperator {
    width: 2px;
    height: 20px;
    background-color: #D1D5DB;
    margin-right: 1rem;
}

.menu__wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menu__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.75rem;
    border-radius: 100%;
    width: 2.2rem;
    height: 2.2rem;
}

.menu__btn img {
    display: flex;
    border-radius: 100%;
    width: 100%;
    height: 100%;
}

.menu__title {
    display: none;
}

.menu__title span {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: #111827;
    text-transform: capitalize;
}

.menu__title svg {
    width: .5rem;
    height: .5rem;
    color: #1F2937;
    margin-left: 5px;
}

@media (min-width: 1024px) {
    .menu__title {
        display: block;
    }
}

.menu {
    position: absolute;
    top: 40px;
    right: 0;
    display: none;
    padding: 0.5rem;
    z-index: 50;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    border-top-width: 1px;
    border-color: #F3F4F6;
    font-size: 1rem;
    line-height: 1.5rem;
    list-style-type: none;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.menu.show__menu {
    display: block;
}

.profile__info {
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
}

.profile__title {
    display: block;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #111827;
}

.profile__mail {
    display: block;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #6B7280;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.profile__subMenu {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile__subMenu li {
    list-style: none;
    width: 100%;
    /* padding-left: 0; */
}

.profile__subMenu li>a {
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #374151;
    border-radius: 0.5rem;
    text-decoration: none;
}

.profile__subMenu li>a:hover,
.profile__info:hover {
    background-color: #F3F4F6;
}

.hr__line {
    margin-top: .5rem;
    margin-bottom: .5rem;
    border-radius: 0.25rem;
    border-width: 0;
    width: 12rem;
    height: 0.25rem;
    background-color: #F3F4F6;
}

.search__bar {
    order: 2;
    max-width: none;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 0;
}

.search__bar label {
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: #111827;
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0
}

@media (min-width: 780px) {
    .nav__inner {
        flex-wrap: nowrap;
    }

    .search__bar {
        order: 1;
        max-width: 32rem;
        width: 100%;
        margin: 0 10px;
    }
}

.search__bx {
    position: relative;
    display: flex;
    align-items: center;
    /* background-color: red; */
    border-radius: 0.5rem;
    border: 2px solid #D1D5DB;
}

.search__bxInner {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding-left: 0.75rem;
    align-items: center;
    pointer-events: none;
}

.search__svg {
    width: 1rem;
    height: 1rem;
    color: #fff;
    /* margin-right: 5px; */
}

.search__input {
    display: block;
    padding: .75rem;
    border: none;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #111827;
    background-color: transparent;
}

.search__bx select {
    display: flex;
    height: 100%;
    padding: .75rem;
    position: relative;
    border: none;
    border-right: 2px solid #D1D5DB;
}

.search__bx select:focus {
    outline: none;
}

.search__input:focus {
    outline: none;
}

.search__btn {
    position: absolute;
    right: 0.4375rem;
    /* bottom: 0.4375rem; */
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: #ffffff;
    background-color: #1D4ED8;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__btn:hover, .addto__cart:hover {
    background-color: #1E40AF;
}


/* Products grid */

.products__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem .5rem;
    max-width: 1280px;
    margin: 0 auto;
}

@media (min-width: 640px) { 
    .products__grid {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, minmax(0, 1fr)); 
    }
}

@media (min-width: 768px) { 
    .products__grid {
        justify-content: space-between;
        grid-template-columns: repeat(3, minmax(0, 1fr)); 
    }
}

@media (min-width: 1024px) { 
    .products__grid {
        grid-template-columns: repeat(4, minmax(0, 1fr)); 
    }
}

.product__wrapper {
    border-radius: 0.25rem;
    border-width: 1px;
    border-color: #E5E7EB;
    /* max-width: 15rem; */
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    /* width: 100%; */
    margin: .5rem;
}

@media (max-width: 767px) { 
    .product__wrapper {
        max-width: 15rem;
    }
}

.product__wrapper .product__img {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: #E6E8EC;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.product__wrapper .product__img img {
    width: 80%;
    height: 100%;
}

.product__inner {
    padding: 2rem 0.75rem 0.5rem 0.75rem;
}

.price__bx {
    display: flex;
    align-items: center;
}

.product__price {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    line-height: .5rem;
    font-weight: 600;
    color: #111827;
}

.price__bx del {
    line-height: .5rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    margin-left: 10px;
    color: #BDBBC5;
    text-decoration: red line-through;
}

.product__title {
    margin-bottom: 0.5rem;
    font-weight: 400;
    color: #374151;
}

.addto__cart {
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    background-color: #1D4ED8;
    width: 100%;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin-top: 1%;
}

.addto__cart svg {
    margin-left: 0.5rem; 
    width: 0.875rem; 
    height: 0.875rem; 
}