@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    /* background-color: #F5F6FD; */
    background-color: #FCFBFC;
    position: relative;
}

.btn {
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: #ffffff;
    background-color: #1D4ED8;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease;
    text-decoration: none;
}

.btn:hover {
    background-color: #1E40AF;
}


/* ==================================
            Login Page 
===================================*/

.login__bx {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #F5F6FD;
}

.login__img {
    display: none;
    width: 40%;
    background-color: #1D4ED8;
    height: 95%;
    position: absolute;
    bottom: -5%;
    right: -10%;
    border-top-right-radius: 60%;
    border-top-left-radius: 76%;
    border-bottom-left-radius: 50%;
}

.login__img img {
    transform: scaleX(-1);
}

.login__logo {
    width: 170px !important;
    height: auto;
}

.login__logo img {
    width: 100%;
    height: 100%;
}

.login__img2 {
    display: none;
    width: 300px;
    height: 300px;
    background-color: #1D4ED8;
    border-radius: 100%;
    position: absolute;
    bottom: -25%;
    left: -12%;
}

.login__img2Circle {
    width: 60%;
    height: 60%;
    border-radius: 100%;
    background-color: #F5F6FD;
}

.login__logo {
    width: 100px;
    height: auto;
    position: absolute;
    top: 2rem;
    left: 2rem;
}

.login__logo img {
    width: 100%;
    height: 100%;
}

.login__form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    z-index: 100;
    background-color: #fff;
    border-radius: .5rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.login__formInner {
    color: #111827;
    width: 100%;
    padding: 2rem;
}


.login__formInner img {
    width: 260px;
    height: 100%;
    margin-bottom: 1rem;
}

.login__formInner h1 {
    font-size: 1.85rem;
    font-weight: 500;
    margin-bottom: .2rem;
}

.login__formInner h2 {
    font-size: 1.55rem;
    font-weight: 500;
    margin-bottom: 1.4rem;
}

.form__inputBx {
    margin-bottom: 1rem;
}

.login__formInner label {
    font-size: .9rem;
    font-weight: 500;
    margin-bottom: .5rem;
}

.login__formInner input {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    border-radius: .5rem;
    border: 1px solid #6B7280;
}

.login__formInner input:focus {
    border: 1px solid #1D4ED8;
}

.login__formInner button{
    width: 100%;
}





header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

header nav {
    position: relative;
    background: #fff;
    /* background-color: red; */
    border: 2px solid #F4F2F5;
}

.nav__inner {
    max-width: 1280px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: .25rem .5rem;
}

.brand__logo {
    display: flex;
    align-items: center;
}

.brand__logo img {
    height: 3.5rem;
    margin-right: 0.75rem;
}

.profile__menu {
    display: flex;
    align-items: center;
    order: 2;
    user-select: none;
    position: relative;
}

.cart {
    display: flex;
    align-items: center;
    position: relative;
    text-decoration: none;
}

.cart svg {
    width: 1.2rem;
    height: 1.2rem;
    color: #D1D5DB;
    margin-right: 1rem;
    transition: all .3s ease;
}

.cart svg:hover {
    color: #1F2937;
}

.cart .cart__counter {
    position: absolute;
    top: -10px;
    right: 5px;
    background-color: #1D4ED8;
    color: #fff;
    border-radius: 100%;
    line-height: 1;
    padding: 3px;
    font-size: 10px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}


.seperator {
    width: 2px;
    height: 20px;
    background-color: #D1D5DB;
    margin-right: 1rem;
}

.menu__wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menu__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.75rem;
    border-radius: 100%;
    width: 2.2rem;
    height: 2.2rem;
}

.menu__btn img {
    display: flex;
    border-radius: 100%;
    width: 100%;
    height: 100%;
}

.menu__title {
    display: none;
}

.menu__title span {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: #111827;
    text-transform: capitalize;
}

.menu__title svg {
    width: .5rem;
    height: .5rem;
    color: #1F2937;
    margin-left: 5px;
}


.menu {
    position: absolute;
    top: 40px;
    right: 0;
    display: none;
    padding: 0.5rem;
    z-index: 9999;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    border-top-width: 1px;
    border-color: #F3F4F6;
    font-size: 1rem;
    line-height: 1.5rem;
    list-style-type: none;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.menu.show__menu {
    display: block;
}

.profile__info {
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
}

.profile__title {
    display: block;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #111827;
}

.profile__mail {
    display: block;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #6B7280;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.profile__subMenu {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile__subMenu li {
    list-style: none;
    width: 100%;
    /* padding-left: 0; */
}

.profile__subMenu li>a {
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #374151;
    border-radius: 0.5rem;
    text-decoration: none;
}

.profile__subMenu li>a:hover,
.profile__info:hover {
    background-color: #F3F4F6;
}

.hr__line {
    margin-top: .5rem;
    margin-bottom: .5rem;
    border-radius: 0.25rem;
    border-width: 0;
    width: 12rem;
    height: 0.25rem;
    background-color: #F3F4F6;
}

.search__bar {
    order: 2;
    max-width: none;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 0;
}

.search__bar label {
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: #111827;
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0
}

.search__bx {
    position: relative;
    display: flex;
    align-items: center;
    /* background-color: red; */
    border-radius: 0.5rem;
    border: 2px solid #D1D5DB;
}

.search__bxInner {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding-left: 0.75rem;
    align-items: center;
    pointer-events: none;
}

.search__svg {
    width: 1rem;
    height: 1rem;
    color: #fff;
    /* margin-right: 5px; */
}

.search__input {
    display: block;
    padding: .75rem;
    border: none;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #111827;
    background-color: transparent;
}

.search__bx select {
    display: flex;
    height: 100%;
    padding: .75rem;
    position: relative;
    border: none;
    border-right: 2px solid #D1D5DB;
}

.search__bx select:focus {
    outline: none;
}

.search__input:focus {
    outline: none;
}

.search__btn {
    position: absolute;
    right: 0.4375rem;
    /* bottom: 0.4375rem; */
}

/* Products grid */
.banner {
    position: relative;
    top: 121.8px;
    background-color: #070641;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    color: #fff;
    max-width: 548px;
    text-align: center;
    margin-top: -100px;
    font-size: 1.5rem;
    font-weight: 700;
}

.products__grid {
    position: absolute;
    top: 10rem;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem .5rem;
    max-width: 1280px;
    margin: 0 auto;
}


.product__wrapper {
    border-radius: 0.25rem;
    border-width: 1px;
    border-color: #E5E7EB;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    /* width: 100%; */
    margin: .5rem;
    min-width: 220px;
    max-width: 220px;
    height: 334px;
    position: relative;
}

.product__wrapper .product__img {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: #E6E8EC;
    width: 100%;
    height: 180px;
    /* height: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 1rem 0; */
}

.product__wrapper .product__img img {
    width: 140px;
    height: 160px;
    max-width: 90%;
}

.product__inner {
    padding: 2rem 0.75rem 0.5rem 0.75rem;
    /* position: relative; */
}

.price__bx {
    display: flex;
    align-items: center;
}

.product__price {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    line-height: .5rem;
    font-weight: 600;
    color: #111827;
}

.price__bx del {
    line-height: .5rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    margin-left: 10px;
    color: #BDBBC5;
    text-decoration: red line-through;
}

.product__title {
    margin-bottom: .25rem;
    font-weight: 500;
    font-size: 15px;
    color: #374151;
}

.qty__bx {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: .5rem;
}

.qty__bx span {
    font-weight: 500;
}

.qty__actions {
    display: flex;
    width: 100px;
}

.qty__actions input {
    width: 100%;
    margin-right: 5px;
    border-radius: 0.5rem;
    padding-left: 5PX;
    border: 2px solid #D1D5DB;
    outline: none;
}

.qty__actions input:focus {
    border-color: #1D4ED8;
}

.qty__actions button {
    border: none;
    outline: none;
    background: transparent;
}

.qty__actions button svg {
    color: #D1D5DB;
    width: 1rem;
    height: 1rem;
}

.qty__actions button svg:hover {
    color: #1F2937;
}

.qty__actions button:first-child {
    margin-right: 5px;
}

.addto__cart {
    margin-top: 1rem;
    width: 90%;
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.addto__cart svg , .checkout__btn svg  {
    margin-left: 0.5rem; 
    width: 1rem; 
    height: 1rem; 
}

/* =====================
        CART PAGE
===================== */

.page__bx {
    padding: 1rem .5rem;
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
    top: 121.8px;
}

.page__title {
    margin-left: .5rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.cart__section {
    /* display: flex; */
    /* flex-direction: column; */
    /* width: 100%; */
}

/* .cart__productBx {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.empty__cart {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.empty__cart img {
    height: 80%;
    width: 80%;
}

.empty__cartHeading {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

.bill__priceBx, .cart__productBx {
    margin: 0 .5rem;
}

.bill__priceBx {
    margin-top: 1rem;
}

.bill__details , .cart__product {
    background-color: #E6E8EC;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); 
    /* width: 100%; */
}

.total__priceBx {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    color: #1F2937;
}

.total__priceBx span:first-child {
    font-size: 1.25rem;
    font-weight: 600;
}

.total__priceBx span:last-child {
    font-size: 1.5rem;
    font-weight: 600;
}

.additional__billInfoBx {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.additional__bInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.additional__bInfo span {
    font-size: 14px;
    font-weight: 500;
    color: #121212;
}

.bill__details hr {
    border-radius: 0.25rem; 
    border-width: 0; 
    width: 40%; 
    height: 0.25rem; 
    background-color: #6B7280;
    margin: 0 auto; 
}

.checkout__btn {
    margin-top: 1rem;
    width: 100%;
}

.cart__product {
    display: flex;
    height: fit-content;
    margin-bottom: 1rem;
    position: relative;
}

.cart__productImgBx {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 30%;
    height: auto;
    max-height: 150px;
    border-radius: .5rem;
    /* margin-bottom: 1rem; */
}

.cart__productImgBx img {
    width: 90%;
    height: auto;
}

.cart__productDetails {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    margin-left: .5rem;
}

.cart__productTitle {
    font-size: 15px;
    margin-bottom: .25rem;
}

.cart__productActions {
    display: flex;
    flex-direction: column;
}

.cart__productPrice {
    display: flex;
    align-items: center;
    margin-right: 1rem;
} 

.cart__productPrice span {
    font-size: 14px;
    font-weight: 600;
}

.cart__productPrice del {
    margin-left: 5px;
    font-weight: 500;
    font-size: 14px;
}

.cart__productQty {
    display: flex;
    margin-top: .5rem;
}

.cart__productQty button:first-child {
    margin-right: 10px;
    padding: .25rem .5rem;
}

.cart__productQty button:last-child {
    margin-left: 10px;
    padding: .25rem .5rem;
}

.cart__productQty input {
    max-width: 70px;
    padding-left: 10px;
    border-radius: .25rem;
    background-color: transparent;
    border: 2px solid #1D4ED8;
    outline: none;
}

.remove__product {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.remove__product svg {
    width: .75rem;
    height: .75rem;
    color: #000;
}

.checkout__grid {
    display: flex;
    flex-direction: column;
}   

.checkout__form {
    background-color: #E5E7EB;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); 
    width: 100%;
    margin: 0 .5rem;
}

.checkout__formInput {
    margin-bottom: 10px;
}

.checkout__formInput label {
    margin-bottom: 0.5rem; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    font-weight: 500; 
    color: #111827; 
}

.checkout__formInput input ,  
.checkout__formInput select,  
.checkout__formInput textarea {
    display: block; 
    padding: 0.25rem; 
    border-radius: 0.5rem; 
    border-width: 1px; 
    border-color: #D1D5DB; 
    width: 100%; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    color: #111827; 
    background-color: #F9FAFB;
    outline: none;
    padding-left: 10px;
    resize: none;
}

.place__orderBtn {
    margin-top: 1rem;
    width: 100%;
}